In [44]:
import numpy as np

In [45]:
import pandas as pd

In [46]:
df = pd.read_csv("listings.csv")

In [47]:
df.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365'],
      dtype='object')

In [48]:
df

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2015,Berlin-Mitte Value! Quiet courtyard/very central,2217,Ian,Mitte,Brunnenstr. Süd,52.534537,13.402557,Entire home/apt,60,4,118,2018-10-28,3.76,4,141
1,2695,Prenzlauer Berg close to Mauerpark,2986,Michael,Pankow,Prenzlauer Berg Nordwest,52.548513,13.404553,Private room,17,2,6,2018-10-01,1.42,1,0
2,3176,Fabulous Flat in great Location,3718,Britta,Pankow,Prenzlauer Berg Südwest,52.534996,13.417579,Entire home/apt,90,62,143,2017-03-20,1.25,1,220
3,3309,BerlinSpot Schöneberg near KaDeWe,4108,Jana,Tempelhof - Schöneberg,Schöneberg-Nord,52.498855,13.349065,Private room,26,5,25,2018-08-16,0.39,1,297
4,7071,BrightRoom with sunny greenview!,17391,Bright,Pankow,Helmholtzplatz,52.543157,13.415091,Private room,42,2,197,2018-11-04,1.75,1,26
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22547,29856708,Cozy Apartment right in the center of Berlin,87555909,Ulisses,Mitte,Brunnenstr. Süd,52.533865,13.400731,Entire home/apt,60,2,0,NaN,NaN,1,314
22548,29857108,Altbau/ Schöneberger Kiez / Schlafsofa,67537363,Jörg,Tempelhof - Schöneberg,Schöneberg-Nord,52.496211,13.341738,Shared room,20,1,0,NaN,NaN,6,78
22549,29864272,Artists loft with garden in the center of Berlin,3146923,Martin,Pankow,Prenzlauer Berg Südwest,52.531800,13.411999,Entire home/apt,85,3,0,NaN,NaN,2,15
22550,29866805,Room for two with private shower / WC,36961901,Arte Luise,Mitte,Alexanderplatz,52.520802,13.378688,Private room,99,1,0,NaN,NaN,3,6
22551,29867352,"Sunny, modern and cozy flat in Berlin Neukölln :)",177464875,Sebastian,Neukölln,Schillerpromenade,52.473762,13.424447,Private room,45,5,0,NaN,NaN,1,21

In [49]:
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2015,Berlin-Mitte Value! Quiet courtyard/very central,2217,Ian,Mitte,Brunnenstr. Süd,52.534537,13.402557,Entire home/apt,60,4,118,2018-10-28,3.76,4,141
1,2695,Prenzlauer Berg close to Mauerpark,2986,Michael,Pankow,Prenzlauer Berg Nordwest,52.548513,13.404553,Private room,17,2,6,2018-10-01,1.42,1,0
2,3176,Fabulous Flat in great Location,3718,Britta,Pankow,Prenzlauer Berg Südwest,52.534996,13.417579,Entire home/apt,90,62,143,2017-03-20,1.25,1,220
3,3309,BerlinSpot Schöneberg near KaDeWe,4108,Jana,Tempelhof - Schöneberg,Schöneberg-Nord,52.498855,13.349065,Private room,26,5,25,2018-08-16,0.39,1,297
4,7071,BrightRoom with sunny greenview!,17391,Bright,Pankow,Helmholtzplatz,52.543157,13.415091,Private room,42,2,197,2018-11-04,1.75,1,26

Let's learn the various methods to grab data from a DataFrame

In [50]:
df.dtypes

id                                  int64
name                               object
host_id                             int64
host_name                          object
neighbourhood_group                object
neighbourhood                      object
latitude                          float64
longitude                         float64
room_type                          object
price                               int64
minimum_nights                      int64
number_of_reviews                   int64
last_review                        object
reviews_per_month                 float64
calculated_host_listings_count      int64
availability_365                    int64
dtype: object

In [51]:
df['neighbourhood_group']

0                         Mitte
1                        Pankow
2                        Pankow
3        Tempelhof - Schöneberg
4                        Pankow
                  ...
22547                     Mitte
22548    Tempelhof - Schöneberg
22549                    Pankow
22550                     Mitte
22551                  Neukölln
Name: neighbourhood_group, Length: 22552, dtype: object

In [52]:
df[['host_name', 'availability_365']]

        host_name  availability_365
0             Ian               141
1         Michael                 0
2          Britta               220
3            Jana               297
4          Bright                26
...           ...               ...
22547     Ulisses               314
22548        Jörg                78
22549      Martin                15
22550  Arte Luise                 6
22551   Sebastian                21

[22552 rows x 2 columns]

Removing features or variables that you dont want

In [53]:
del df['latitude']
del df['longitude']

In [54]:
df.head(10)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2015,Berlin-Mitte Value! Quiet courtyard/very central,2217,Ian,Mitte,Brunnenstr. Süd,Entire home/apt,60,4,118,2018-10-28,3.76,4,141
1,2695,Prenzlauer Berg close to Mauerpark,2986,Michael,Pankow,Prenzlauer Berg Nordwest,Private room,17,2,6,2018-10-01,1.42,1,0
2,3176,Fabulous Flat in great Location,3718,Britta,Pankow,Prenzlauer Berg Südwest,Entire home/apt,90,62,143,2017-03-20,1.25,1,220
3,3309,BerlinSpot Schöneberg near KaDeWe,4108,Jana,Tempelhof - Schöneberg,Schöneberg-Nord,Private room,26,5,25,2018-08-16,0.39,1,297
4,7071,BrightRoom with sunny greenview!,17391,Bright,Pankow,Helmholtzplatz,Private room,42,2,197,2018-11-04,1.75,1,26
5,9991,Geourgeous flat - outstanding views,33852,Philipp,Pankow,Prenzlauer Berg Südwest,Entire home/apt,180,6,6,2018-07-23,0.15,1,137
6,14325,Apartment in Prenzlauer Berg,55531,Chris + Oliver,Pankow,Prenzlauer Berg Nordwest,Entire home/apt,70,90,23,2018-11-01,0.23,3,129
7,16401,APARTMENT TO RENT,59666,Melanie,Friedrichshain-Kreuzberg,Frankfurter Allee Süd FK,Private room,120,30,0,NaN,NaN,1,365
8,16644,In the Heart of Berlin - Kreuzberg,64696,Rene,Friedrichshain-Kreuzberg,nördliche Luisenstadt,Entire home/apt,90,60,48,2017-12-14,0.47,2,159
9,17409,Downtown Above The Roofs In Berlin,67590,Wolfram,Pankow,Prenzlauer Berg Südwest,Private room,45,3,279,2018-10-31,2.83,1,42

Creating a new feature (adding a new column)

In [55]:
df['profit'] = df['price'] + df['minimum_nights']
df.head(7)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,profit
0,2015,Berlin-Mitte Value! Quiet courtyard/very central,2217,Ian,Mitte,Brunnenstr. Süd,Entire home/apt,60,4,118,2018-10-28,3.76,4,141,64
1,2695,Prenzlauer Berg close to Mauerpark,2986,Michael,Pankow,Prenzlauer Berg Nordwest,Private room,17,2,6,2018-10-01,1.42,1,0,19
2,3176,Fabulous Flat in great Location,3718,Britta,Pankow,Prenzlauer Berg Südwest,Entire home/apt,90,62,143,2017-03-20,1.25,1,220,152
3,3309,BerlinSpot Schöneberg near KaDeWe,4108,Jana,Tempelhof - Schöneberg,Schöneberg-Nord,Private room,26,5,25,2018-08-16,0.39,1,297,31
4,7071,BrightRoom with sunny greenview!,17391,Bright,Pankow,Helmholtzplatz,Private room,42,2,197,2018-11-04,1.75,1,26,44
5,9991,Geourgeous flat - outstanding views,33852,Philipp,Pankow,Prenzlauer Berg Südwest,Entire home/apt,180,6,6,2018-07-23,0.15,1,137,186
6,14325,Apartment in Prenzlauer Berg,55531,Chris + Oliver,Pankow,Prenzlauer Berg Nordwest,Entire home/apt,70,90,23,2018-11-01,0.23,3,129,160

Drop a column
axis=0 - refers to rows
axis=1 - refers to columns

In [56]:
df.drop('profit', axis=1, inplace=True)

In [57]:
df

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2015,Berlin-Mitte Value! Quiet courtyard/very central,2217,Ian,Mitte,Brunnenstr. Süd,Entire home/apt,60,4,118,2018-10-28,3.76,4,141
1,2695,Prenzlauer Berg close to Mauerpark,2986,Michael,Pankow,Prenzlauer Berg Nordwest,Private room,17,2,6,2018-10-01,1.42,1,0
2,3176,Fabulous Flat in great Location,3718,Britta,Pankow,Prenzlauer Berg Südwest,Entire home/apt,90,62,143,2017-03-20,1.25,1,220
3,3309,BerlinSpot Schöneberg near KaDeWe,4108,Jana,Tempelhof - Schöneberg,Schöneberg-Nord,Private room,26,5,25,2018-08-16,0.39,1,297
4,7071,BrightRoom with sunny greenview!,17391,Bright,Pankow,Helmholtzplatz,Private room,42,2,197,2018-11-04,1.75,1,26
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22547,29856708,Cozy Apartment right in the center of Berlin,87555909,Ulisses,Mitte,Brunnenstr. Süd,Entire home/apt,60,2,0,NaN,NaN,1,314
22548,29857108,Altbau/ Schöneberger Kiez / Schlafsofa,67537363,Jörg,Tempelhof - Schöneberg,Schöneberg-Nord,Shared room,20,1,0,NaN,NaN,6,78
22549,29864272,Artists loft with garden in the center of Berlin,3146923,Martin,Pankow,Prenzlauer Berg Südwest,Entire home/apt,85,3,0,NaN,NaN,2,15
22550,29866805,Room for two with private shower / WC,36961901,Arte Luise,Mitte,Alexanderplatz,Private room,99,1,0,NaN,NaN,3,6
22551,29867352,"Sunny, modern and cozy flat in Berlin Neukölln :)",177464875,Sebastian,Neukölln,Schillerpromenade,Private room,45,5,0,NaN,NaN,1,21

Drop a specific row say 2

In [58]:
df.drop([2],axis=0)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2015,Berlin-Mitte Value! Quiet courtyard/very central,2217,Ian,Mitte,Brunnenstr. Süd,Entire home/apt,60,4,118,2018-10-28,3.76,4,141
1,2695,Prenzlauer Berg close to Mauerpark,2986,Michael,Pankow,Prenzlauer Berg Nordwest,Private room,17,2,6,2018-10-01,1.42,1,0
3,3309,BerlinSpot Schöneberg near KaDeWe,4108,Jana,Tempelhof - Schöneberg,Schöneberg-Nord,Private room,26,5,25,2018-08-16,0.39,1,297
4,7071,BrightRoom with sunny greenview!,17391,Bright,Pankow,Helmholtzplatz,Private room,42,2,197,2018-11-04,1.75,1,26
5,9991,Geourgeous flat - outstanding views,33852,Philipp,Pankow,Prenzlauer Berg Südwest,Entire home/apt,180,6,6,2018-07-23,0.15,1,137
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22547,29856708,Cozy Apartment right in the center of Berlin,87555909,Ulisses,Mitte,Brunnenstr. Süd,Entire home/apt,60,2,0,NaN,NaN,1,314
22548,29857108,Altbau/ Schöneberger Kiez / Schlafsofa,67537363,Jörg,Tempelhof - Schöneberg,Schöneberg-Nord,Shared room,20,1,0,NaN,NaN,6,78
22549,29864272,Artists loft with garden in the center of Berlin,3146923,Martin,Pankow,Prenzlauer Berg Südwest,Entire home/apt,85,3,0,NaN,NaN,2,15
22550,29866805,Room for two with private shower / WC,36961901,Arte Luise,Mitte,Alexanderplatz,Private room,99,1,0,NaN,NaN,3,6
22551,29867352,"Sunny, modern and cozy flat in Berlin Neukölln :)",177464875,Sebastian,Neukölln,Schillerpromenade,Private room,45,5,0,NaN,NaN,1,21

Selecting a row

In [59]:
df.loc[[1]]

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
1,2695,Prenzlauer Berg close to Mauerpark,2986,Michael,Pankow,Prenzlauer Berg Nordwest,Private room,17,2,6,2018-10-01,1.42,1,0

In [60]:
df.loc[1,'id']

2695

In [61]:
df.iloc[[1]]

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
1,2695,Prenzlauer Berg close to Mauerpark,2986,Michael,Pankow,Prenzlauer Berg Nordwest,Private room,17,2,6,2018-10-01,1.42,1,0

In [62]:
df.iloc[[1,2],[0,1]]

     id                                name
1  2695  Prenzlauer Berg close to Mauerpark
2  3176     Fabulous Flat in great Location

In [63]:
df.iloc[1]

id                                                              2695
name                              Prenzlauer Berg close to Mauerpark
host_id                                                         2986
host_name                                                    Michael
neighbourhood_group                                           Pankow
neighbourhood                               Prenzlauer Berg Nordwest
room_type                                               Private room
price                                                             17
minimum_nights                                                     2
number_of_reviews                                                  6
last_review                                               2018-10-01
reviews_per_month                                               1.42
calculated_host_listings_count                                     1
availability_365                                                   0
Name: 1, dtype: object

Selecting a subset

In [64]:
df.loc[[2,3], 'price']

2    90
3    26
Name: price, dtype: int64

In [65]:
df.iloc[[1,2], 7]

1    17
2    90
Name: price, dtype: int64

In [66]:
df.iloc[[1,2]]['price']

1    17
2    90
Name: price, dtype: int64

In [67]:
df.loc[1, 'price']

17

In [68]:
df.iloc[[1],7]

1    17
Name: price, dtype: int64

Dealing with missing values

In [69]:
df.isnull().sum()

id                                   0
name                                59
host_id                              0
host_name                           26
neighbourhood_group                  0
neighbourhood                        0
room_type                            0
price                                0
minimum_nights                       0
number_of_reviews                    0
last_review                       3908
reviews_per_month                 3914
calculated_host_listings_count       0
availability_365                     0
dtype: int64

By looking at a raw number it may not be sufficient. What is more helpful is looking at a ratio or percentage

In [70]:
100* df.isnull().sum() / len(df)

id                                 0.000000
name                               0.261618
host_id                            0.000000
host_name                          0.115289
neighbourhood_group                0.000000
neighbourhood                      0.000000
room_type                          0.000000
price                              0.000000
minimum_nights                     0.000000
number_of_reviews                  0.000000
last_review                       17.328840
reviews_per_month                 17.355445
calculated_host_listings_count     0.000000
availability_365                   0.000000
dtype: float64

dropna method automatically removes columns or rows that contain missing values

In [71]:
df.dropna()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2015,Berlin-Mitte Value! Quiet courtyard/very central,2217,Ian,Mitte,Brunnenstr. Süd,Entire home/apt,60,4,118,2018-10-28,3.76,4,141
1,2695,Prenzlauer Berg close to Mauerpark,2986,Michael,Pankow,Prenzlauer Berg Nordwest,Private room,17,2,6,2018-10-01,1.42,1,0
2,3176,Fabulous Flat in great Location,3718,Britta,Pankow,Prenzlauer Berg Südwest,Entire home/apt,90,62,143,2017-03-20,1.25,1,220
3,3309,BerlinSpot Schöneberg near KaDeWe,4108,Jana,Tempelhof - Schöneberg,Schöneberg-Nord,Private room,26,5,25,2018-08-16,0.39,1,297
4,7071,BrightRoom with sunny greenview!,17391,Bright,Pankow,Helmholtzplatz,Private room,42,2,197,2018-11-04,1.75,1,26
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22449,29772631,Cosy and lovely room near Ostkreuz,20727291,Anna,Lichtenberg,Neu Lichtenberg,Private room,25,2,1,2018-11-04,1.00,1,32
22463,29784461,House on the water HT10 - Heart of East Berlin,22437698,Sebastian,Treptow - Köpenick,Oberschöneweide,Entire home/apt,99,1,5,2018-11-06,5.00,2,339
22475,29792124,Welcome to Light Apartment,224133729,Inna,Friedrichshain-Kreuzberg,Frankfurter Allee Süd FK,Private room,25,1,1,2018-11-05,1.00,1,8
22508,29817383,Prenzlauerberg,224295751,Salem,Pankow,Prenzlauer Berg Nordwest,Entire home/apt,70,1,1,2018-11-07,1.00,1,350
22536,29849565,Super zentrales Apartment + Garten für 6 Personen,607481,Sven,Pankow,Prenzlauer Berg Südwest,Entire home/apt,150,10,2,2018-11-07,2.00,1,69

In [72]:
df.dropna(axis=1)

,id,host_id,neighbourhood_group,neighbourhood,room_type,price,minimum_nights,number_of_reviews,calculated_host_listings_count,availability_365
0,2015,2217,Mitte,Brunnenstr. Süd,Entire home/apt,60,4,118,4,141
1,2695,2986,Pankow,Prenzlauer Berg Nordwest,Private room,17,2,6,1,0
2,3176,3718,Pankow,Prenzlauer Berg Südwest,Entire home/apt,90,62,143,1,220
3,3309,4108,Tempelhof - Schöneberg,Schöneberg-Nord,Private room,26,5,25,1,297
4,7071,17391,Pankow,Helmholtzplatz,Private room,42,2,197,1,26
...,...,...,...,...,...,...,...,...,...,...
22547,29856708,87555909,Mitte,Brunnenstr. Süd,Entire home/apt,60,2,0,1,314
22548,29857108,67537363,Tempelhof - Schöneberg,Schöneberg-Nord,Shared room,20,1,0,6,78
22549,29864272,3146923,Pankow,Prenzlauer Berg Südwest,Entire home/apt,85,3,0,2,15
22550,29866805,36961901,Mitte,Alexanderplatz,Private room,99,1,0,3,6
22551,29867352,177464875,Neukölln,Schillerpromenade,Private room,45,5,0,1,21

In [73]:
df.isnull().sum()

id                                   0
name                                59
host_id                              0
host_name                           26
neighbourhood_group                  0
neighbourhood                        0
room_type                            0
price                                0
minimum_nights                       0
number_of_reviews                    0
last_review                       3908
reviews_per_month                 3914
calculated_host_listings_count       0
availability_365                     0
dtype: int64

In [74]:
df['reviews_per_month'].fillna((df['reviews_per_month'].mean()), inplace=True)
df

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2015,Berlin-Mitte Value! Quiet courtyard/very central,2217,Ian,Mitte,Brunnenstr. Süd,Entire home/apt,60,4,118,2018-10-28,3.760000,4,141
1,2695,Prenzlauer Berg close to Mauerpark,2986,Michael,Pankow,Prenzlauer Berg Nordwest,Private room,17,2,6,2018-10-01,1.420000,1,0
2,3176,Fabulous Flat in great Location,3718,Britta,Pankow,Prenzlauer Berg Südwest,Entire home/apt,90,62,143,2017-03-20,1.250000,1,220
3,3309,BerlinSpot Schöneberg near KaDeWe,4108,Jana,Tempelhof - Schöneberg,Schöneberg-Nord,Private room,26,5,25,2018-08-16,0.390000,1,297
4,7071,BrightRoom with sunny greenview!,17391,Bright,Pankow,Helmholtzplatz,Private room,42,2,197,2018-11-04,1.750000,1,26
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22547,29856708,Cozy Apartment right in the center of Berlin,87555909,Ulisses,Mitte,Brunnenstr. Süd,Entire home/apt,60,2,0,NaN,1.135525,1,314
22548,29857108,Altbau/ Schöneberger Kiez / Schlafsofa,67537363,Jörg,Tempelhof - Schöneberg,Schöneberg-Nord,Shared room,20,1,0,NaN,1.135525,6,78
22549,29864272,Artists loft with garden in the center of Berlin,3146923,Martin,Pankow,Prenzlauer Berg Südwest,Entire home/apt,85,3,0,NaN,1.135525,2,15
22550,29866805,Room for two with private shower / WC,36961901,Arte Luise,Mitte,Alexanderplatz,Private room,99,1,0,NaN,1.135525,3,6
22551,29867352,"Sunny, modern and cozy flat in Berlin Neukölln :)",177464875,Sebastian,Neukölln,Schillerpromenade,Private room,45,5,0,NaN,1.135525,1,21

removing rows with NaN values, 'name'

In [75]:
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2015,Berlin-Mitte Value! Quiet courtyard/very central,2217,Ian,Mitte,Brunnenstr. Süd,Entire home/apt,60,4,118,2018-10-28,3.76,4,141
1,2695,Prenzlauer Berg close to Mauerpark,2986,Michael,Pankow,Prenzlauer Berg Nordwest,Private room,17,2,6,2018-10-01,1.42,1,0
2,3176,Fabulous Flat in great Location,3718,Britta,Pankow,Prenzlauer Berg Südwest,Entire home/apt,90,62,143,2017-03-20,1.25,1,220
3,3309,BerlinSpot Schöneberg near KaDeWe,4108,Jana,Tempelhof - Schöneberg,Schöneberg-Nord,Private room,26,5,25,2018-08-16,0.39,1,297
4,7071,BrightRoom with sunny greenview!,17391,Bright,Pankow,Helmholtzplatz,Private room,42,2,197,2018-11-04,1.75,1,26

In [76]:
df.dropna(subset=['name'], axis=0, inplace=True)

df.isnull().sum()

id                                   0
name                                 0
host_id                              0
host_name                           26
neighbourhood_group                  0
neighbourhood                        0
room_type                            0
price                                0
minimum_nights                       0
number_of_reviews                    0
last_review                       3885
reviews_per_month                    0
calculated_host_listings_count       0
availability_365                     0
dtype: int64

In [77]:
df.describe()

,id,host_id,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
count,2.249300e+04,2.249300e+04,22493.000000,22493.000000,22493.000000,22493.000000,22493.000000,22493.000000
mean,1.573362e+07,5.408507e+07,66.970480,7.166763,17.879162,1.137090,1.920331,80.000800
std,8.553788e+06,5.821806e+07,218.078376,40.717403,36.805939,1.371189,3.671773,119.408255
min,2.015000e+03,2.217000e+03,0.000000,1.000000,0.000000,0.010000,1.000000,0.000000
25%,8.087198e+06,9.228021e+06,30.000000,2.000000,1.000000,0.220000,1.000000,0.000000
50%,1.692280e+07,3.123294e+07,45.000000,2.000000,5.000000,0.840000,1.000000,4.000000
75%,2.259922e+07,8.083775e+07,70.000000,4.000000,16.000000,1.180000,1.000000,129.000000
max,2.986735e+07,2.245081e+08,9000.000000,5000.000000,498.000000,36.670000,45.000000,365.000000

In [78]:
df.cov()

C:\Users\yuyum\AppData\Local\Temp\ipykernel_28396\1545644723.py:1: FutureWarning: The default value of numeric_only in DataFrame.cov is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.cov()

,id,host_id,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
id,7.316730e+13,2.626595e+14,5.670099e+07,-1.463175e+07,-9.764701e+07,2.633192e+06,1.188158e+06,-6.191545e+07
host_id,2.626595e+14,3.389342e+15,4.765268e+08,-6.746983e+07,-3.193058e+08,1.432919e+07,-1.042688e+07,-6.779264e+07
price,5.670099e+07,4.765268e+08,4.755818e+04,3.356352e+01,-6.688655e+00,1.972645e+00,5.948858e+01,2.740176e+03
minimum_nights,-1.463175e+07,-6.746983e+07,3.356352e+01,1.657907e+03,-3.264422e+01,-2.557008e+00,4.072463e+00,4.829997e+02
number_of_reviews,-9.764701e+07,-3.193058e+08,-6.688655e+00,-3.264422e+01,1.354677e+03,2.738538e+01,1.158312e+01,1.218342e+03
reviews_per_month,2.633192e+06,1.432919e+07,1.972645e+00,-2.557008e+00,2.738538e+01,1.880159e+00,5.686162e-01,3.487641e+01
calculated_host_listings_count,1.188158e+06,-1.042688e+07,5.948858e+01,4.072463e+00,1.158312e+01,5.686162e-01,1.348192e+01,1.106737e+02
availability_365,-6.191545e+07,-6.779264e+07,2.740176e+03,4.829997e+02,1.218342e+03,3.487641e+01,1.106737e+02,1.425833e+04

In [79]:
df.corr()

C:\Users\yuyum\AppData\Local\Temp\ipykernel_28396\1134722465.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr()

,id,host_id,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
id,1.000000,0.527445,0.030396,-0.042010,-0.310158,0.224505,0.037830,-0.060619
host_id,0.527445,1.000000,0.037533,-0.028462,-0.149015,0.179501,-0.048778,-0.009752
price,0.030396,0.037533,1.000000,0.003780,-0.000833,0.006597,0.074293,0.105228
minimum_nights,-0.042010,-0.028462,0.003780,1.000000,-0.021783,-0.045799,0.027240,0.099342
number_of_reviews,-0.310158,-0.149015,-0.000833,-0.021783,1.000000,0.542630,0.085710,0.277215
reviews_per_month,0.224505,0.179501,0.006597,-0.045799,0.542630,1.000000,0.112940,0.213010
calculated_host_listings_count,0.037830,-0.048778,0.074293,0.027240,0.085710,0.112940,1.000000,0.252426
availability_365,-0.060619,-0.009752,0.105228,0.099342,0.277215,0.213010,0.252426,1.000000